<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../hijo-b/hijo-b.html">
<link rel="import" href="../hijo-c/hijo-c.html">


<dom-module id="padre-a">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div>
    <h2>Examen de Polymer</h2>
    <paper-button>Boton 1</paper-button>
    <paper-button>Boton 2</paper-button>
    <hijo-c ></hijo-c>
    <hijo-b></hijo-b>
  </div>
</template>


  <script>
    /**
     * `padre-a`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PadreA extends Polymer.Element {
      static get is() { return 'padre-a'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'padre-a'
          }
        };
      }
    }

    window.customElements.define(PadreA.is, PadreA);
  </script>
</dom-module>
